---
import Main from "@/layouts/main.astro";
import { Badge } from "@/components/ui/badge";
import blogs from "@/data/blogs.json";

// Required for dynamic routes
export async function getStaticPaths() {
  return blogs.map((blog) => ({
    params: { id: blog.id },
    props: { blog },
  }));
}

// Get blog from props
const { blog } = Astro.props;
console.log(blog);

// // Redirect to blog index if blog not found
// if (!blog) {
//   return Astro.redirect('/blog');
// }
---

<Main content={{ title: `${blog.title} - Amin Modaresi` }}>
  <article class="p-4 max-w-3xl mx-auto">
    <header class="mb-8">
      <h1 class="text-4xl font-bold mb-4">{blog.title}</h1>
      <div class="flex gap-4 text-gray-500 mb-4">
        <span>{blog.author}</span>
        <time>{new Date(blog.date).toLocaleDateString()}</time>
      </div>
      <div class="flex gap-2 flex-wrap">
        {blog.tags.map((tag) => <Badge variant="secondary">{tag}</Badge>)}
      </div>
    </header>
    <!-- have /n in text -->
    <div class="prose dark:prose-invert max-w-none whitespace-pre-line">
      {blog.content}
    </div>
    <div class="mt-8">
      <a href="/blog" class="text-blue-500 hover:underline">← Back to Blog</a>
    </div>
  </article>
</Main>
