---
import { Icon } from "astro-icon/components";
import data from '@/data/hiro.json'; // Adjust the path if needed
---

<header class="mt-20 px-4">
    <div class="flex gap-4 flex-col md:flex-row justify-between items-end pb-12 border-b border-dashed border-neutral-400 dark:border-neutral-800">
      <div class="flex flex-col md:flex-row w-full md:w-auto text-center md:text-start gap-8 items-center">
        <img
          src={data.image}
          alt={data.name}
          class="w-40 h-40 object-cover rounded-full"
        />
        <div>
          <h1 class="bricolage-grotesque font-bold scroll-m-20 text-4xl tracking-tight mb-2">
            {data.name}
          </h1>
          <h4 class="scroll-m-20 text-xl font-medium tracking-tight">
            {data.role}
          </h4>
        </div>
      </div>
      <div class="flex justify-center w-full md:w-auto gap-2">
        <div>
          <a href={data.socials.github}>
            <Icon name="mdi:github" width="32px" height="32px"/>
          </a>
        </div>
        <div>
          <a href={data.socials.telegram}>
            <Icon name="mdi:telegram" width="32px" height="32px"/>
          </a>
        </div>
        <div>
          <a target="_blank" href={data.socials.linkedin}>
            <Icon name="mdi:linkedin" width="32px" height="32px"/>
          </a>
        </div>
      </div>
    </div>
</header>
